.nav-justified-custom-button {
    border: 1px solid #545252;
    background-image: linear-gradient(#8e8e8e, #d2d2d2);
    border-radius: 0.25rem;
    margin-top : 10px;

}

.nav-justified-custom-button .nav-link.active {
    background-color: #3e8cda;
    background-image: linear-gradient(#3e8cda, #1e4973);
}

.nav-justified-custom-button .nav-link {
    color: #000000;
    background-image: linear-gradient(#8e8e8e, #d2d2d2);
}

.modal-90w {
    max-width:none!important;
    width:90%
}

.fade-ht.show-table {
    display : block;
}

.fade-ht.hide {
    opacity: 0;
}

.fade-ht.hide-table {
    display: none;
}

.fade-ht {
    transition: all 0.15s linear;
    display: block;
}
