header {
    background-color : #44634c
}

header a {
    color : white;
}

header a.active {
    color : yellow;
    font-weight: bold;
}

header a:hover {
    color : yellow;
    text-decoration: none;
    background-color: transparent;
}
